
:root {
    --fakhti : #a435f0;
    --white: #fff;
    --black: #000;
    --corona: 'Krona One';
    /* font-family: var(--corona); */
    font-family: sans-serif;
}

body {
    margin: 0;
}

.signupContainer {
    display: flex;
    flex-direction: row;
}

.left {
    background-color: var(--fakhti);
    width: 50%;
    height: 100vh;
    color: var(--white);
}

.right {
    background-color: var(--white);
    width: 50%;
    height: 100vh;
    padding-top: 15%;
    
}



.TwinP {
    width: 79px;
    height: 25px;
    margin: 16px 39px 75px 0;
    font-size: 20px;
    text-align: left;
    font-family: var(--corona);
    /* color: #000; */
  }
  
  
  .twinpong-1, .racquet{
      width: 75px;
      height: 57px;
      flex-grow: 0;
      margin: -45px 290px 59px 60px;
    }
  
    img.Rectangle-1, .racquet{
      width: 75px;
      height: 57px;
      position: absolute;
      top: 44px;
      left: 4px;
    }
  
    .ng {
      width: 34px;
      height: 25px;
      font-size: 20px;
      font-family: var(--corona);
      /* color: var(--black); */
    }

    .logo {
        margin: 12px;
    }
.paragraph {
    font-family: var(--corona);
}
#reg {
    margin-top: 42rem;
    margin-left: 7rem;
}

.illustration {
    position: absolute;
    top: 50%;
    left: 20%;
    transform: translate(-50%, -50%);
    display: block;
  }




.right .animation {
    position: absolute;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    background-color: var(--fakhti);
    top: 10%;
    right: 23%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right .confirm-box {
    position: absolute;
    /* width: 150px;
    height: 150px; */
    /* background-color: var(--fakhti); */
    top: 40%;
    right: 13%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.right .resend {
    margin-top: 1rem;
    /* font-family: var(--corona); */
    font-size: 1.2rem;
    background-color: var(--fakhti);
    color: var(--white);
    cursor: pointer;
    border: none;
    border-radius: 10px;
    height: 50px;
    width: 250px;
}

  
 
  
.card-pass {
    backdrop-filter: blur(16px) saturate(180%) !important;
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    background-color: rgba(255, 255, 255, 0.75) !important;
    border-radius: 12px !important;
    border: 1px solid rgba(255, 255, 255, 0.125) !important;
    display: flex !important;
    flex-direction: column;
    align-items: center;
    padding: 30px 40px;
    font-family: var(--corona);
}
.lock-icon {
    font-size: 3rem;
}
h2 {
    font-size: 1.5rem;
    margin-top: 10px;
    text-transform: uppercase;
}
p {
    font-size: 12px;
}
.passInput {
    margin-top: 15px;
    width: 80%;
    background: transparent;
    border: none;
    border-bottom: 2px solid var(--fakhti);
    font-size: 15px;
    color: rgba(0, 0, 0, 0.5);
    outline: none;
}
.card-pass button {
    margin-top: 15px;
    width: 81%;
    height: 50px;
    background-color: var(--fakhti);
    color: white;
    padding: 10px;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
}