:root {
    --fakhti : #a435f0;
    --white: #fff;
    --black: #000;
    --corona: 'Krona One';
    /* font-family: var(--corona); */
    font-family: sans-serif;
}

.container {
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 10px;
    height: 95vh;
    background-color: #fafafa;
    padding: 20px;
    overflow-y: auto;
}
.delimiter {
    width: 2px !important;
}

.textArea {
    position: absolute;
    top: 20%;
    background-color: #a435f0;
}

.hero_img {
    animation: MoveUpDown 5s linear infinite;
    position: absolute;
    left: 50rem;
    bottom: 0;
  }
  
  @keyframes MoveUpDown {
    0%,
    100% {
      bottom: 300px;
    }
    50% {
      bottom: 400px;
    }
  }